* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: silver;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* ============ container ============= */

.container {
    flex: 0 0 50%;
    height: 800px;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid darkslategray;
    border-radius: 30px;
    background-color: slategray;
    box-shadow: 5px 5px 10px;
}

/* =========== score header =========== */

.header {
    flex: 0.5;
    width: 95%;
    display: flex;
    margin: 16px;
    padding: 0px 20px;
}

.score {
    margin: 8px 0px;
    align-content: center;
    padding: 8px;
    border-bottom: 2px solid darkslategray;
    font-weight: 400;
    font-size: 20px;
    color: silver;
    box-shadow: 3px 3px 6px;
}

.score#human {
    background-color: darkgreen;
}

.humanScore {
    margin: 8px 0px;
    padding: 0px 10px;
    flex: 0;
    margin-right: auto;
    align-content: center;
    background-color: gainsboro;
    border-bottom: 2px solid darkslategray;
    border-right: 2px solid darkslategray;
    color: darkgreen;
    font-size: 26px;
    font-weight: bolder;
    box-shadow: 3px 3px 6px silver;
}

.score#computer {
    background-color: darkred;
}

.computerScore {
    margin: 8px 0px;
    padding: 0px 10px;
    flex: 0;
    align-content: center;
    background-color: gainsboro;
    border-bottom: 2px solid darkslategray;
    border-right: 2px solid darkslategray;
    color: darkred;
    font-size: 26px;
    font-weight: bolder;
    box-shadow: 3px 3px 6px silver;
}

/* ========== active message ========== */

.activeMsg {
    flex: 1;
    border: 3px solid darkslategray;
    border-radius: 16px;
    width: 80%;
    align-content: center;
    margin-bottom: 30px;
    padding: 16px;
    background-color: gainsboro;
    color: darkslategray;
    font-style: italic;
    font-size: 18px;
}

/* ========== choice images =========== */

.img {
    height: 150px;
    width: 150px;
    flex: 0 0 1;
    align-content: center;
    border: 1px solid black;
    margin: 30px;
    background-color: gainsboro;
}

/* ========== choice buttons ========== */

.choices {
    flex: 1;
    display: flex;
    gap: 20px;
    align-items: center;
}

.choices button {
    flex: 0 0 auto;
    width: 150px;
    height: 50px;
    margin: 10px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    background-color: silver;
    font-weight: bold;
    font-size: 20px;
    color: darkslategray;
    box-shadow: 3px 3px 6px;
}

.choices button:hover {
    background-color: darkslategray;
    color: gainsboro;
    border-color: silver;
}

.choices #reset {
    display: none;
}